<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <!-- title -->
    <title>电子商务平台 | 修改商品</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/static/images/favicon.png}" type="image/png">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/lib/metismenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
    <!-- preloader start -->
    <div th:replace="~{/admin/index::preloader}"></div>
    <!-- preloader end -->
    <!-- main wrapper start -->
    <div class="main-wrapper">
        <!-- sidebar start -->
        <aside th:replace="~{/admin/index::sidebar}"></aside>
        <!-- sidebar end -->
        <!-- header start -->
        <header th:replace="~{/admin/index::header}"></header>
        <!-- header end -->
        <!-- main content start -->
        <div class="main-content">
            <div class="page-title">
                <div class="row">
                    <div class="col">
                        <h2>修改商品</h2>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>商品类型</th>
                                    <th>名称</th>
                                    <th>原价</th>
                                    <th>现价</th>
                                    <th>库存</th>
                                    <th>图片</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${goodsDetailVO.get(0)}"></td>
                                    <td th:text="${goodsDetailVO.get(1)}"></td>
                                    <td th:text="${goodsDetailVO.get(2)}"></td>
                                    <td th:text="${goodsDetailVO.get(3)}"></td>
                                    <td th:text="${goodsDetailVO.get(4)}"></td>
                                    <td th:text="${goodsDetailVO.get(5)}"></td>
                                    <td>
                                        <img th:src="${goodsDetailVO.get(6)}" alt="" width="50px" height="50px">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/admin/update-goods}" method="post">
                            <div class="form-group">
                                <label class="form-label" for="id"></label>
                                <input class="form-control" type="text" id="id" name="id"
                                       th:value="${goodsDetailVO.get(0)}" hidden>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="goodsTypeId">商品类型</label>
                                <select class="form-select" id="goodsTypeId" name="goodsTypeId">
                                    <option th:each="goodsType : ${goodsTypeList}"
                                            th:value="${goodsType.getId()}"
                                            th:text="${goodsType.getTitle()}"
                                            th:selected="${goodsType.getTitle() == goodsDetailVO.get(1)}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="title">商品名称</label>
                                <input class="form-control" type="text" id="title" name="title"
                                       placeholder="请输入商品名称"
                                       th:value="${goodsDetailVO.get(2)}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="originalPrice">商品原价</label>
                                <input class="form-control" type="text" id="originalPrice" name="originalPrice"
                                       placeholder="请输入商品原价"
                                       th:value="${goodsDetailVO.get(3)}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="currentPrice">商品现价</label>
                                <input class="form-control" type="text" id="currentPrice" name="currentPrice"
                                       placeholder="请输入商品现价"
                                       th:value="${goodsDetailVO.get(4)}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="store">商品库存</label>
                                <input class="form-control" type="text" id="store" name="store"
                                       placeholder="请输入商品库存"
                                       th:value="${goodsDetailVO.get(5)}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="picture">商品图片</label>
                                <input class="form-control" type="text" id="picture" name="picture"
                                       placeholder="请输入商品图片" readonly
                                       th:value="${goodsDetailVO.get(6)}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="uploadPicture">上传商品图片</label>
                                <input class="form-control" type="file" id="uploadPicture" name="uploadPicture">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content end -->
        <!-- footer start -->
        <footer th:replace="~{/admin/index::footer}"></footer>
        <!-- footer end -->
    </div>
    <!-- main wrapper end -->
    <!-- js -->
    <script th:src="@{/static/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/lib/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
</body>

</html>